<div id="calendar" data-controller="calendar"></div>

<!-- モーダル関連 -->
<%= render "modals/modal", modal_id: "seasonalBathModal" do %>
  <%= render "modals/seasonal_bath/body" do %>
    <%= render "modals/seasonal_bath/main" %>
  <% end %>
<% end %>

<%= render "modals/modal", modal_id: "eventModal" do %>
  <%= render "modals/event/body" do %>
    <%= render "modals/event/main" %>
  <% end %>
<% end %>